<template>
  <div class="calculadora">
    <div class="display">{{ valorCorrente || 0 }}</div>
    <div v-on:click="limpar" class="botao">C</div>
    <div v-on:click="sinal" class="botao">+/-</div>
    <div v-on:click="porcentagem" class="botao">%</div>
    <div v-on:click="dividir" class="botao operadores">/</div>
    <div v-on:click="juntarNumeros('7')" class="botao">7</div>
    <div v-on:click="juntarNumeros('8')" class="botao">8</div>
    <div v-on:click="juntarNumeros('9')" class="botao">9</div>
    <div v-on:click="multiplicar" class="botao operadores">x</div>
    <div v-on:click="juntarNumeros('4')" class="botao">4</div>
    <div v-on:click="juntarNumeros('5')" class="botao">5</div>
    <div v-on:click="juntarNumeros('6')" class="botao">6</div>
    <div v-on:click="subtrair" class="botao operadores">-</div>
    <div v-on:click="juntarNumeros('1')" class="botao">1</div>
    <div v-on:click="juntarNumeros('2')" class="botao">2</div>
    <div v-on:click="juntarNumeros('3')" class="botao">3</div>
    <div v-on:click="somar" class="botao operadores">+</div>
    <div v-on:click="juntarNumeros('0')" class="botao zero">0</div>
    <div v-on:click="ponto" class="botao">.</div>
    <div v-on:click="resultado" class="botao operadores">=</div>
  </div>
</template>

<script>
export default {
  data(){
    return {
      valorCorrente: '0',
      numeroAnterior: null,
      operador: null,
      operadorClicado: false,
    };
  },
  methods: {
    //Método respósavel por limpar o display
    
    limpar(){
      this.valorCorrente = '';
    },

    /*
    * Método respónsavel pelos sinais '-' ou '+' para os calculos
    * charAt --> https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/String/charAt
    * slice --> https://developer.mozilla.org/pt-BR/docs/Web/JavaScript/Reference/Global_Objects/Array/slice
    */

    sinal(){
      this.valorCorrente = this.valorCorrente.charAt(0) === '-'
      ? this.valorCorrente.slice(1)
      : `-${this.valorCorrente}`;
    },

    // Método respónsavel por juntar os numeros no display
    juntarNumeros(numero){
      if (this.operadorClicado){
        this.valorCorrente = '';
        this.operadorClicado = false;
      }

      this.valorCorrente = `${this.valorCorrente}${numero}`
    },

    // Método responsavel por realizar operações de 'porcentagem'
    porcentagem(){
      this.valorCorrente = `${ parseFloat(this.valorCorrente) / 100 }`;
    },

    // Método respónsavel por adicionar 'ponto' no display
    ponto(){
      if (this.valorCorrente.indexOf('.') === -1){
        this.juntarNumeros('.');
      }
    },

    setarValor(){
      this.numeroAnterior = this.valorCorrente;
      this.operadorClicado = true;
    },

    // Método responsavel pela operação de 'divisão'
    dividir(){
      this.operador = (num1, num2) => num1 / num2;
      this.setarValor();
    },

    // Método responsavel pela operação de 'multiplicação'
    multiplicar(){
      this.operador = (num1, num2) => num1 * num2;
      this.setarValor();
    },

    // Método responsavel pela operação de 'soma'
    somar(){
      this.operador = (num1, num2) => num1 + num2;
      this.setarValor();
    },

    // Método responsavel pela operação de 'subtração'
    subtrair(){
      this.operador = (num1, num2) => num1 - num2;
      this.setarValor();
    },

    //Método responsavel por apresentar o resultado das operações
    resultado(){
      this.valorCorrente = `${this.operador(
        parseFloat(this.numeroAnterior),
        parseFloat(this.valorCorrente),
      )}`;
      this.numeroAnterior = null;
    },
    
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.calculadora {
  margin: 0 auto;
  width: 350px;
  font-size: 40px;
  display: grid;
  grid-template-columns:  repeat(4, 1fr);
  grid-auto-rows: minmax(50px, auto);
}

.display {
  grid-column: 1 / 5;
  background-color: aqua;
  color:  purple;
}

.zero {
  grid-column: 1 / 3;
}

.botao {
  background-color: #f2f2f2;
  border: 1px solid #999;
}

.operadores {
  background-color: orange;
  color: white;
}
</style>
